{%- macro playerStatusColor(status) -%}
    player-status-{{ status }}
{%- endmacro -%}

{% macro playerName(player) %}
    {% set randomSeed = random(1, 999999999) %}

    <a data-toggle="collapse" href="#player-{{ player.id }}-{{ randomSeed }}">+</a>

    {% if player.alliance is not empty %}
        <small><a href="{{ path('app_alliance_view', {id: player.alliance.id}) }}">[{{ player.alliance }}]</a></small>
    {% endif %}

    {{ player.name }}

    {% if not player.isActive %}
        <small>({{ player.status }})</small>
    {% endif %}

    {% if player.scorePosition > 0 %}
        <small>
            (
                <span data-toggle="tooltip" data-placement="bottom" title="{{ player.score | number_format }} points">#{{ player.scorePosition }}</span>
                - <span {% if player.militaryScorePosition < 200 %}class="text-danger"{% endif%} data-toggle="tooltip" data-placement="bottom" title="Military - {{ player.militaryScore | number_format }} points">#{{ player.militaryScorePosition }}</span>
            )
        </small>
    {% endif %}

    <div class="collapse" id="player-{{ player.id }}-{{ randomSeed }}">
        {{ _self.playerPlanets(player) }}
    </div>
{% endmacro %}

{%- macro playerPlanets(player) -%}
    <ul class="list-unstyled">
        {% for planet in player.planets | sort((a, b) => a.coordinates <=> b.coordinates)  %}
            <li>
                <small>
                    <a href="{{ path('app_cartography', {
                        galaxy: planet.galaxy,
                        system: planet.system,
                    }) }}">[{{ planet.coordinates }}]</a>

                    {{ planet.name }}

                    {% if planet.hasMoon %}
                        - moon
                        <small>
                            {{ planet.moonSize | number_format }}km
                        </small>
                    {% endif %}
                </small>
            </li>
        {% endfor %}
    </ul>
{%- endmacro -%}
