{% extends 'base.html.twig' %}

{% block title 'Inactives Players 24H' %}

{%- macro playerStatusColor(status) -%}
    player-status-{{ status }}
{%- endmacro -%}

{% block body %}
    <h1 class="mt-5 mb-3">Inactives Players 24H ({{ players|length }})</h1>

    <div class="d-flex justify-content-cente mt-2 form-players-inactives">
        {{ form_start(form, {
            attr: {
                class: 'form-inline'
            }
        }) }}
            <div class="form-group">
                {{ form_row(form.minScore, {
                    attr: {
                        class: 'form-control-sm mr-1 ml-2'
                    }
                }) }}

                {{ form_row(form.minMilitaryScore, {
                    attr: {
                        class: 'form-control-sm mr-1 ml-2'
                    }
                }) }}

                {{ form_row(form.allowedScoreDiff, {
                    attr: {
                        class: 'form-control-sm mr-1 ml-2'
                    }
                }) }}
            </div>

            <button type="submit" class="btn btn-primary btn-sm ml-1 mr-1">Find</button>
        {{ form_end(form) }}
    </div>

    <table class="table table-striped mt-3 table-sm table-dark  table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Nom</th>
                <th>Score</th>
                <th>Score 24H</th>
                <th>Galaxies</th>
                <th>Classement</th>
                <th>Classement Militaire</th>
                <th>Economie</th>
                <th>Recherche</th>
                <th>Militaire</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td class="{{ _self.playerStatusColor(player.status) }}">
                        {{ player.name }}

                        {% if player.alliance is not none %}
                            <a href="{{ path('app_alliance_view', {id: player.alliance.id}) }}">
                                {{ player.alliance.tag }}
                            </a>
                        {% endif %}
                    </td>
                    <td class="{{ _self.playerStatusColor(player.status) }}">
                        {{ player.score | number_format }}
                    </td>
                    <td class="{{ _self.playerStatusColor(player.status) }}">
                        {% if player.scoreAt24H is not none and player.scoreAt24H is not none %}
                            <span data-toggle="tooltip" data-placement="bottom" title="{{ player.dateOfScoreAt24H | format_datetime }} points">
                                {{ player.scoreAt24H | number_format }}
                            </span>
                        {% endif %}
                    </td>
                    <td class="{{ _self.playerStatusColor(player.status) }}">{{ player_galaxies(player)|join(',') }}</td>
                    <td class="{{ _self.playerStatusColor(player.status) }}">
                        <span data-toggle="tooltip" data-placement="bottom" title="{{ player.score | number_format }} points">
                            {{ player.scorePosition }}
                        </span>
                    </td>
                    <td class="{{ _self.playerStatusColor(player.status) }}">
                        <span data-toggle="tooltip" data-placement="bottom" title="{{ player.militaryScore | number_format }} points">
                            {{ player.militaryScorePosition }}
                        </span>
                    </td>
                    <td class="{{ _self.playerStatusColor(player.status) }}">
                        {{ player.economyScore | number_format }}
                    </td>
                    <td class="{{ _self.playerStatusColor(player.status) }}">
                        {{ player.researchScore | number_format }}
                    </td>
                    <td class="{{ _self.playerStatusColor(player.status) }}">
                        {{ player.militaryScore | number_format }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
