{% extends 'base.html.twig' %}

{% block title 'Xtense' %}

{% block body %}
    <h2>Installation</h2>

    <p>
        Xtense can be downloaded here :
    </p>

    <ul>
        <li>Chrome Extension: <a href="tool-xtense-web-extension/release/chrome-2.9.4.zip">chrome.zip</a>.</li>
        <li>Firefox Extension: <a href="tool-xtense-web-extension/release/firefox-2.9.4.zip">firefox.zip</a>.</li>
    </ul>

    <h3 class="mt-4">Chrome</h3>

    <ol>
        <li>
            Entrez dans la barre d'adresse du navigateur: <code>chrome://extensions/</code>.
        </li>
        <li class="mt-3">
            Activez le mode développeur:<br />
            <img class="img-responsive mt-3" src="{{ asset('build/img/xtense_dev.png') }}" />
        </li>
        <li class="mt-3">
            Vous n'avez plus qu'à sélectionner le fichier <code>.zip</code> et le glisser dans la fenetre des extensions, Chrome va l'ajouter automatiquement.<br />
            <img class="img-responsive mt-3" src="{{ asset('build/img/xtense3.png') }}" />
        </li>
    </ol>

    <h2 class="mt-5">Quelles données sont récupérées ?</h2>

    <p>
        N'est récupéré que les données ci-dessous (toutes les autres sont ignorées par le serveur) :
    </p>

    <ul>
        <li>l'onglet <strong>Galaxy</strong> (CDR + Activités + liste des planètes/lunes).</li>
        <li>les <strong>rapports d'estionnages</strong> (<strong>UNIQUEMENT SI</strong> vous affichez le rapport en détail, en cliquant sur <code>Plus de détails</code>).</li>
    </ul>

    <p class="text-center">
        <img class="img-responsive" src="{{ asset('build/img/xtense4.png') }}" />
    </p>

    <h2 class="mt-5">Configuration</h2>

    <ul>
        <li>Link OGSpy: <code>https://ogame.ovh</code></li>
        <li>Your token: <code>{{ app.user.xtensePassword }}</code></li>
    </ul>

    <p class="text-center">
        <img class="img-responsive" src="{{ asset('build/img/xtense.png') }}" />
    </p>
    <p class="text-center">
        <img class="img-responsive" src="{{ asset('build/img/xtense2.png') }}" />
    </p>
{% endblock %}
