{% extends 'base.html.twig' %}

{% block title 'Spy' %}

{% import 'app/_macro.html.twig' as ui %}

{% block body %}
    <div class="page-spy">
        <div class="d-flex mb-3 form-coordinates">
            {{ form_start(form, {
                attr: {
                    class: 'form-inline'
                }
            }) }}
                {{ form_row(form.report, {
                    attr: {
                        class: 'form-control-sm ml-2',
                        placeholder: 'sr-'
                    }
                }) }}

                <button type="submit" class="btn btn-primary btn-sm ml-1 mr-1">Add</button>
            {{ form_end(form) }}

            <div class="ml-2">
                {{ form_start(formFilter, {
                    attr: {
                        class: 'form-inline'
                    }
                }) }}
                <div class="form-group">
                    {{ form_row(formFilter.galaxy, {
                        attr: {
                            class: 'form-control-sm mr-1 ml-2'
                        }
                    }) }}
                </div>

                <div class="form-group">
                    {{ form_row(formFilter.minMilitaryScore, {
                        attr: {
                            class: 'form-control-sm mr-1 ml-2'
                        }
                    }) }}
                </div>

                <div class="form-group">
                    {{ form_row(formFilter.minDate, {
                        attr: {
                            class: 'form-control-sm mr-1 ml-2'
                        }
                    }) }}
                </div>

                <button type="submit" class="btn btn-primary btn-sm ml-1 mr-1">Filter!</button>
                {{ form_end(formFilter) }}
            </div>
        </div>

        <table class="table table-sm table-striped mt-3 table-dark table-data">
            <thead class="thead-dark">
                <tr>
                    <th>Coord</th>
                    <th>Player</th>
                    <th>Acti</th>
                    <th>Ships</th>
                    <th>Def</th>
                    <th>M</th>
                    <th>C</th>
                    <th>D</th>
                    <th>%</th>
                    <th>Spy At</th>
                </tr>
            </thead>
            <tbody>
                {% for report in reports %}
                    <tr class="{{ ui.playerStatusColor(report.player.status) }}">
                        <td class="details-control" data-full="report-{{ report.id }}">
                            <a href="#" class="mr-1">+</a>

                            <small>
                                {% if report.isMoon %}
                                    <img alt="Moon" class="img-responsive" src="{{ asset('build/img/moon.png') }}" />
                                {% endif %}

                                <a href="{{ path('app_cartography', {
                                    galaxy: report.galaxy,
                                    system: report.system,
                                }) }}">
                                    [{% if report.isMoon %}M:{% endif %}{{ report.coordinates }}]
                                </a>

                                <a href="https://trashsim.universeview.be/fr?SR_KEY={{ report.apiKey }}" target="_blank"><small>Trashim</small></a>
                            </small>

                            <div style="display: none" id="report-{{ report.id }}">
                                {{ ui.showSpyReport(report) }}
                            </div>
                        </td>
                        <td>
                            {{ ui.playerName(report.player) }}
                        </td>
                        <td>
                            <small>{{ ui.planetActivity(report.activity) }}</small>
                        </td>
                        <td>
                            <small>{{ (report.totalShipScore / 1000000) | number_format }}M</small>
                        </td>
                        <td>
                            <small>{{ (report.totalDefenseScore / 1000000) | number_format }}M</small>
                        </td>
                        <td>
                            <small>{{ (report.metal / 1000000) | number_format }}M</small>
                        </td>
                        <td>
                            <small>{{ (report.crystal / 1000000) | number_format }}M</small>
                        </td>
                        <td>
                            <small>{{ (report.deuterium / 1000000) | number_format }}M</small>
                        </td>
                        <td>
                            <small class="{% if report.lootPercentage > 50 %}text-success{% endif %}">{{ report.lootPercentage }}%</small>
                        </td>
                        <td>
                            <small>{{ report.spyAt.format('d/m H:i:s') }}</small>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
