{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {% for flashError in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flashError }}</div>
    {% endfor %}

    {{ form_start(registrationForm, {
        attr: {
            class: 'form-signin  mt-5'
        }
    }) }}
        <h1 class="h3 mb-3 font-weight-normal">Register</h1>

        {{ form_row(registrationForm.username) }}
        {{ form_row(registrationForm.plainPassword, {
            label: 'Password'
        }) }}

        <button class="btn btn-lg btn-primary" type="submit">
            Register
        </button>
    {{ form_end(registrationForm) }}
{% endblock %}
