{% extends 'base.html.twig' %}

{% block title %}[{{ galaxy }}:{{ system }}] - Galaxy{% endblock %}

{% import 'app/_macro.html.twig' as ui %}

{% macro pagination(galaxy, system) %}
    <div class="btn-group">
        <a class="btn btn-dark btn-sm" href="{{ path('app_cartography', {galaxy: galaxy, system: universe_system(system - 1)}) }}"><<</a>
        <a class="btn btn-dark btn-sm" href="{{ path('app_cartography', {galaxy: galaxy, system: universe_system(system + 1)}) }}">>></a>
    </div>
{% endmacro %}

{% block body %}
    <div class="d-flex justify-content-cente mb-3 form-coordinates">
        {{ form_start(form, {
            attr: {
                class: 'form-inline'
            }
        }) }}
            {{ _self.pagination(galaxy, system) }}

            <div class="form-group">
                {{ form_widget(form.galaxy, {
                    attr: {
                        class: 'form-control-sm mr-1 ml-2'
                    }
                }) }}

                {{ form_widget(form.system, {
                    attr: {
                        class: 'form-control-sm'
                    }
                }) }}
            </div>

            <button type="submit" class="btn btn-primary btn-sm ml-1 mr-1">GO</button>
        {{ form_end(form) }}
    </div>

    <table class="table table-striped table-dark table-sm">
        <caption>
            {{ _self.pagination(galaxy, system) }}
        </caption>
        <tbody>
            {% for planet in planets %}
                {% if planet.position is defined %}
                    <tr class="{{ ui.playerStatusColor(planet.player.status) }}">
                        <td>
                            [{{ galaxy }}:{{ system }}:{{ loop.index }}]
                        </td>
                        <td>{{ planet.name }}</td>
                        <td>
                            {{ ui.playerName(planet.player) }}
                        </td>
                        <td>
                            {% if planet.hasMoon %}
                                Moon
                                <small>
                                    {{ planet.moonSize | number_format }}km
                                </small>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td>
                            [{{ galaxy }}:{{ system }}:{{ loop.index }}]
                        </td>
                        <td colspan="3"></td>
                    </tr>
                {% endif %}
            {% endfor %}
        </tbody>
    </table>

    <div class="d-flex justify-content-center">
    </div>
{% endblock %}
