{% extends 'base.html.twig' %}

{% block title 'Alliances' %}

{% block body %}
    <h1 class="mt-5 mb-3">Alliances</h1>

    <table class="table table-striped mt-5 table-sm table-dark table-hover table-data display responsive">
        <thead class="thead-dark">
            <tr>
                <th>Tag</th>
                <th>Nom</th>
                <th>Site</th>
                <th>Joueurs</th>
            </tr>
        </thead>
        <tbody>
            {% for alliance in alliances %}
                <tr>
                    <td>
                        <a href="{{ path('app_alliance_view', {id: alliance.id}) }}">
                            {{ alliance.tag }}
                        </a>
                    </td>
                    <th>
                        {{ alliance.name }}
                    </th>
                    <td>{{ alliance.website }}</td>
                    <td>{{ alliance.players.count }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
