{% extends 'base.html.twig' %}

{% block title alliance.tag %}

{%- macro playerStatusColor(status) -%}
    player-status-{{ status }}
{%- endmacro -%}

{% block body %}
    <h1 class="mt-5 mb-3">{{ alliance.tag }}</h1>

    <table class="table table-striped mt-5 table-sm table-dark  table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Joueurs</th>
                <th>Galaxies</th>
                <th>Rank</th>
                <th>Rank Militaire</th>
                <th>Score</th>
                <th>Economie</th>
                <th>Recherche</th>
                <th>Militaire</th>
            </tr>
        </thead>
        <tbody>
            {% for player in players %}
                <tr>
                    <td class="{{ _self.playerStatusColor(player.status) }}">{{ player.name }}</td>
                    <td class="{{ _self.playerStatusColor(player.status) }}">{{ player_galaxies(player)|join(',') }}</td>
                    <td class="{{ _self.playerStatusColor(player.status) }}">
                        <span data-toggle="tooltip" data-placement="bottom" title="{{ player.score | number_format }} points">
                            {{ player.scorePosition }}
                        </span>
                    </td>
                    <td class="{{ _self.playerStatusColor(player.status) }}">
                        <span data-toggle="tooltip" data-placement="bottom" title="{{ player.militaryScore | number_format }} points">
                            {{ player.militaryScorePosition }}
                        </span>
                    </td>
                    <td class="{{ _self.playerStatusColor(player.status) }}">
                        {{ player.score | number_format }}
                    </td>
                    <td class="{{ _self.playerStatusColor(player.status) }}">
                        {{ player.economyScore | number_format }}
                    </td>
                    <td class="{{ _self.playerStatusColor(player.status) }}">
                        {{ player.researchScore | number_format }}
                    </td>
                    <td class="{{ _self.playerStatusColor(player.status) }}">
                        {{ player.militaryScore | number_format }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
