<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title 'OGame' %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
            <a class="navbar-brand" href="{{ path('app_home') }}">OGame</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if app.request.get('_route') == 'app_cartography' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('app_cartography') }}">Galaxy</a>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'app_alliances' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('app_alliances') }}">Alliances</a>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'app_players_inactives' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('app_players_inactives') }}">Inactives 24H</a>
                    </li>
                    <li class="nav-item {% if app.request.get('_route') == 'app_users' %}active{% endif %}">
                        <a class="nav-link" href="{{ path('app_users') }}">Users</a>
                    </li>
                </ul>

                {% if not is_granted('ROLE_USER') %}
                    <a class="btn btn-outline-info my-2 my-sm-0 mr-2" href="{{ path('app_register') }}">S'inscrire</a>
                    <a class="btn btn-outline-success my-2 my-sm-0" href="{{ path('app_login') }}">S'identifier</a>
                {% else %}
                    <a class="btn btn-outline-info my-2 mr-1 my-sm-0" href="{{ path('app_server_switch', {id: current_server_id()}) }}">{{ current_server_name() }} ({{ current_server_language() | upper }})</a>
                    <a class="btn btn-outline-danger my-2 my-sm-0" href="{{ path('app_logout') }}">Déconnexion</a>
                {% endif %}
            </div>
        </nav>
    </header>

    <!-- Begin page content -->
    <main role="main" class="container">
        {% for label, messages in app.flashes(['success', 'error']) %}
            {% for message in messages %}
                <div class="alert alert-{{ label }} mt-5">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body '' %}
    </main>

    {#
    <footer class="footer">
        <div class="container">
            <span class="text-muted">Place sticky footer content here.</span>
        </div>
    </footer>
    #}
</body>
</html>
